<nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="screen navbar-brand" routerLink="../Home">Home</a>
      <div>
        <a class="screen" routerLink="../Cart">
            <span class="position-relative me-4">
              <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light" style="color: black;">{{cartCount}}</span> -->
              <i class="bi bi-cart me-2" style="color: white;"></i>
            </span>  
          </a>
        
        <!-- <a href="#"><i class="bi bi-person bg-light rounded-pill" style="color:#004533; font-size: 1.5rem;"></i></a> -->
        <!-- <a routerLink="/profile">
          <i class="bi bi-person bg-light rounded-circle px-1" style="color:#004533; font-size: 1.5rem;"></i>
          <i class="bi bi-person-exclamation bg-light rounded-circle px-1" style="color:#004533; font-size: 1.5rem;"></i>
        </a> -->
         
      </div>
      
    </div>
  </nav>
<router-outlet></router-outlet>


