<nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="screen navbar-brand" routerLink="../Home">Home</a>
      <div>
        <a class="screen" routerLink="../Cart">
            <span class="position-relative me-4">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">{{cartCount}}</span>
              <i class="bi bi-cart me-2"></i>
            </span>  
          </a>         
      </div>
      
    </div>
  </nav>
<router-outlet></router-outlet>


