/* :host{
    --color_1: var(--primary-color);
    --color_2: var(--secondary-color);
} */

.navbar{
    background-color: var(--primary-color);
}
.card-img-top{
    height: 200px;
    object-fit: contain;
}

.mobile{
    border-radius: 0px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: none;
}
.nav-btn{
    width: 25%;
    border-radius: 0%;
    border: 0px;
    border-top:  1px solid black;
}

.f-input{
    border: none;
    border-radius: 0%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.f-button{
    background-color: white;
    border: none;
    border-radius: 0%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

@media (max-width: 400px){
    .mobile{
        display: block;
        position: sticky;
        background-color: whitesmoke;
    }
    .screen{
        display: none;
    }

    .navbar{
        background-color: #004533;
    }
    .nav-btn:hover{
        color: white;
        background-color: black;
    }
    

    .container{
        justify-content: center;
    }
}