
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="screen navbar-brand" routerLink="home">
      The<i class="bi-box" style="height: 1rem; width: 1rem;"></i>Company
    </a>
    <form class="d-flex justify-content-center">
      <input class="f-input form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="f-button btn btn-light" type="submit">
        <i class="bi bi-search" style="font-size: 1rem;"></i>
      </button>
    </form>
    <div>
      <a class="screen" routerLink="cart">
        <span class="position-relative me-4">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light" style="color: black;">{{cartCount}}</span>
          <i class="bi bi-cart me-2" style="color: white;"></i>
        </span>  
      </a>
      <!-- <a href="#"><i class="bi bi-person bg-light rounded-pill" style="color:#004533; font-size: 1.5rem;"></i></a> -->
      <a routerLink="/profile">
        <i *ngIf="isLoggedIn; else elseblock" class="bi bi-person bg-light rounded-circle px-1" style="color:#004533; font-size: 1.5rem;"></i>
        <ng-template #elseblock>
          <i class="bi bi-person-exclamation bg-light rounded-circle px-1" style="color:#004533; font-size: 1.5rem;"></i> 
        </ng-template>
        <!-- <i class="bi bi-person-exclamation bg-light rounded-circle px-1" style="color:#004533; font-size: 1.5rem;"></i> -->
      </a>
       
    </div>
    
  </div>
</nav>

<router-outlet></router-outlet>
<div class="mobile btn-group" role="group" aria-label="Basic radio toggle button group">
  <button class="nav-btn btn btn-outline-dark" routerLink="home"><i class="bi bi-house"></i></button>
  <button class="nav-btn btn btn-outline-dark"><i class="bi bi-funnel"></i></button>
  <button class="nav-btn btn btn-outline-dark" routerLink="cart">
    <span class="position-relative">
      <span class="position-absolute top-0 translate-middle badge rounded-pill bg-dark" style="font-size: 0.5rem; left: 50% !important;">{{cartCount}}</span>
      <i class="bi bi-cart me-2"></i>
    </span> 
  </button>
  <div>

  </div>
  <button class="nav-btn btn btn-outline-dark"><i class="bi bi-person-exclamation"></i><i class="bi bi-person"></i></button>
</div>