
.bar{
    background-color: var(--primary-color);
    height: 5vh;
    color: var(--forth-color);
    font-size: 3vh;
    font-family: cursive;
    text-align: center;
}

.logout{
    background-color: var(--primary-color);
    position: absolute;
    right: 0%;
    top: 0%;
    height: 5vh;
    border: none;
    color: var(--forth-color);
}