.navbar{
    background-color: var(--third-color);
}

.f-input{
    border: none;
    border-radius: 0%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.f-button{
    background-color: white;
    border: none;
    border-radius: 0%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.bi-cart{
    color: var(--primary-color);
}

.badge{
    background-color: var(--primary-color);
    color: (--forth-color);
}

.loginSuccessMessage{
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: #3bab64;
    color: white;
    padding: 10px;
    border-radius: 4px;
    animation: slide-up 0.5s ease-out;
}

@keyframes slide-up {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}