/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #113e21;
    --secondary-color: #B38B59;
    --third-color: #F0F0F0;
    --forth-color: #fefefe;
    --error: red;
}
